* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

input[type="range"] + label {
  background-color: aquamarine;
  /* put the label above the slider */
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* position the label in a large circle
 */
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  /* push text down a bit */
  padding-top: 35px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
