/* start styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=VT323&display=swap");

body {
  margin: 0;
  background: #444;
  font-family: "Poppins";
}
li,
ul {
  list-style-type: none;
  padding: 0;
}
main {
  padding: 140px 40px 40px;
  color: #bbb;
}
#menu {
  color: white;
}

/* solution styles */

/* closed */
.expanded {
  opacity: 0; /* Set opacity to 0 instead of visibility:hidden */
  transition: opacity 0.3s ease; /* Add transition for opacity */
  pointer-events: none; /* Disable pointer events for hidden element */
}

/* open state */
.menu-icon {
  opacity: 1; /* Set opacity to 1 instead of visibility:visible */
  font-size: 50px;
  transition: opacity 0.3s ease; /* Add transition for opacity */
}

/* transitions */
