.burger span {
  display: block;
  opacity: 0.9;
  height: 2px;
  width: 50px;
  background-color: red;
  margin-bottom: 5px;
  margin-top: 20px;
}
.site-title {
  text-align: right;
  margin-right: 50px;
}

.nav {
  display: block;
  position: fixed;
  top: 5px;
  left: 5px;
  text-align: left;
  opacity: 0;
}
/* NOTE this -- but then how to keep burger and menu in same line like the demo ---From Stack You can't transition the display property. You have to have it as a block from start, and just hide it with opacity: 0 */
