@font-face {
  font-family: "NationalPark-Regular";

  src: url("NationalPark-Variable-Webfonts/woff/NationalPark-Regular.woff");
}

* {
  box-sizing: border-box;
}
body {
  font-family: NationalPark-Regular;
  /* font-family: "Segoe UI"; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
/* https://stackoverflow.com/questions/12812441/how-do-i-use-woff-fonts-for-my-website */
