@font-face {
  font-family: "NationalPark-Regular";

  src: url("NationalPark-Variable-Webfonts/woff/NationalPark-Regular.woff");
}
@import url("https://fonts.googleapis.com/css?family=Cantarell|Open+Sans:300|Oxygen:300|Roboto:300|Ubuntu:300");

@import url("https://fonts.googleapis.com/css?family=Cantarell|Open+Sans:300|Oxygen:300|Roboto:300|Ubuntu:300");
body {
  color: #efefef;
  background-color: #2f353c;
  margin: 0;
}
.font-buttons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.font-buttons ul .active-button {
  background: rgba(0, 0, 0, 0);
}
.font-buttons ul li {
  min-width: 100px;
  height: 50px;
  font-size: 17px;
  background: #1c1f24;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
}
.font-buttons ul li:not(:last-child) {
  border-right: 1px #0e0f12 solid;
}
[Font="serif"] {
  font-family: serif;
}
[Font="sans-serif"] {
  font-family: sans-serif;
}
[Font="SegoeUI"] {
  font-family: "Segoe UI";
}
[Font="OpenSans"] {
  font-family: "Open Sans";
}
[Font="Roboto"] {
  font-family: Roboto;
}
[Font="Oxygen"] {
  font-family: Oxygen;
}
[Font="Ubuntu"] {
  font-family: Ubuntu;
}
[Font="Cantarell"] {
  font-family: Cantarell;
}
[Font="Arial"] {
  font-family: Arial;
}
[Font="Helvetica"] {
  font-family: Helvetica;
}
.text-wrapper {
  width: 490px;
  padding: 10px 200px;
}
.text-wrapper h1 {
  font-size: 52px;
  font-weight: 300;
  font-family: inherit;
}
.text-wrapper p {
  font-size: 20px;
  font-weight: 300;
  font-family: inherit;
}
