/* * {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0pt;
} */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
}
body,
#slides,
.slide {
  display: grid;
}
#slides {
  list-style: none;
  padding: 0;
  margin: 0;
}
.slide {
  width: 100vw;
  height: 100vh;
}
.slide--text,
.slide--title {
  place-content: center;
}
