#div1 {
  background-color: #dbee5c;
}
#div2 {
  background-color: #6dbf8c;
}
#div3 {
  background-color: #4a80ed;
}
#div4 {
  background-color: #d9a962;
}
.equalBox {
  float: left;

  margin-left: 5px;
}
