/* div:hover {
  background: purple;
} */
button:hover {
  background-color: pink;
}
button:focus {
  border-radius: 10px;
  background-color: #2ecc71;
}
button:active {
  background-color: orange;
  font-size: 30px;
}
input:focus {
  background-color: aquamarine;
}
h1:active,
p:active {
  color: yellow;
}
