body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  height: 15vh;
  background-color: red;
}
.links {
  display: flex;
  justify-content: space-around;
  align-content: center;
  color: white;
}
.content {
  flex-grow: 1;
}
.footer {
  height: 15vh;
  background-color: blue;
}
