html {
  font-size: 10px;
}
body {
  font: 1.5rem Verdana, Arial, sans-serif;
}
hr {
  margin: 2em 0;
}
container {
  display: grid;
  /* body is the container of the grid area */
  /* in quotes are every row , name for each column here 3rows 4 columns*/
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
     "main main main  aside"
    "footer footer footer footer";
  grid-template-rows: 1fr .25fr 4fr 1fr;
}
/* declaration targets every div of the body */
body > * {
  border: solid 1px #333;
  color: #fff;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  background-color: #088398;
}

/* assign a name to each grid area, here using the html tag but this could be anything   */
header {
  background-color: #89f9dc;
  grid-area: header;
}
nav {
  background-color: #00b9b3;
  grid-area: nav;
}
aside {
  background-color: #046179;
  grid-area: aside;
}
footer {
  background-color: #00a4c0;
  grid-area: footer;
}
main {
  grid-area: main;
}
container