:root {
  --on: #6948ed;
  --off: #555;
  --toggle-width: 80px;
  --toggle-height: 30px;
}
body {
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

input {
  height: 2em;
  width: 2em;
}
/* style for the switch div  */
.switch {
  height: 5em;
  width: 7em;
  background-color: red;
}
.toggle {
  height: 8em;
  width: 8em;
  border: purple 2px solid;
}
