* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: aquamarine;
}
/* hide the default , it is hidden but user can still interact with it  */
input[type="checkbox"] {
  /* visibility: hidden; */
}
/* now my styling - use psudo class  */
.toggle {
  display: block;
  margin: 100px auto;
  width: var(80px);
  height: var(30px);
  /* push the small circle away from edge */
  padding: 5px;
  cursor: pointer;
  /* color change with click vs not clicked */
  background-color: var(--off);
  /* capsule shape */
  border-radius: 40px;
  /* transition off to on fade color in  */
  transition: all ease 0.3s;
  position: relative;
}
