:root {
  --hue: 204;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: aquamarine;
}
/* hide the default , it is hidden but user can still interact with it  */
input.toggle[type="checkbox"] {
  /* will be creating a custom check box that is going to sit on top of this one, we do not want to see the default one but we do want to interact with it so we get the check box benefits and screen readers will see it  */
  opacity: 0;
  position: absolute;
}
/* TODO target the input with class of switch-input, hide the check box  */
input.switch[type="checkbox"] {
  /* hide the browsers check box  */
  /* opacity: 0;
  position: absolute; */
}
/* this will likely apply to both labels..... */
label {
  /* position relative so that the we can put the little circle in the toggle */
  position: relative;
  cursor: pointer;
  /* overwrite the default of in line */
  display: flex;
}
/* the DYI check box   */
/* add this content before the check box label using a psudo element */
/* psudo elements inherit the display of the parent so label needs to be flex  */
/* adding the toggle-label so that this targets the first switch */
label.toggle-label::before {
  content: "";
  height: 4em;
  width: 16em;

  /* background of toggle track  */
  background-color: grey;
  border-radius: 2em;
}

/*  right now this is an oblong grey box, it will become an arch that the ball will travers */

label.switch-label::before {
  content: "";
  height: 4em;
  width: 16em;
  /* background of toggle track  */
  background-color: grey;
  border-radius: 2em;
}
label.toggle-label:hover::before {
  /* background of toggle track  */
  /* background-color: blue; */
}
label.switch-label:hover::before {
  /* background of toggle track  */
  /* background-color: blue; */
}

input.toggle[type="checkbox"]:checked + label::before {
  /* background of toggle track when clicked */
  background-color: hsl(204, 65%, 66%);
}
/* TODO this bit is not making background red  */
input.switch[type="checkbox"]:checked + label.switch-label::before {
  /* background of toggle track when clicked */
  /* background-color: hsl(204, 65%, 66%); */
  background-color: red;
}
input.toggle[type="checkbox"]:focus + label::before {
  /* background of toggle track when in focus */
  outline: 1px solid black;
}
/* TODO this bit is not working to put black outline on   */
input.switch[type="checkbox"]:focus + label.switch-label {
  /* background of toggle track when in focus */
  outline: 1px solid black;
}
label.toggle-label::after {
  /* positioning this absolute so that the toggle ball is in the div */
  position: absolute;
  left: 0.25em;
  margin-top: 0.25em;
  content: "";
  height: 3.5em;
  width: 3.5em;

  /* color of toggle ball */
  background-color: white;
  border-radius: 2em;
  /* transition toggle with un click */
  transition: 400ms ease-in-out;
}

/* targeting the little ball in the toggle switch when checkied  */
input.toggle[type="checkbox"]:checked + label::after {
  /* positioning this absolute so that the toggle ball is in the div */
  position: absolute;
  left: 0.25em;
  margin-top: 0.25em;
  content: "";
  height: 3.5em;
  width: 3.5em;
  background-color: rgb(24, 145, 225);
  border-radius: 2em;
}

input.toggle[type="checkbox"]:checked + label::after {
  /* move the toggle ball to the right when checked  */
  /* left: 12em; */
  transform: translateX(340%);
  /* transition toggle  */
  transition: 400ms ease-in-out;
}
/* radial-gradients below are responsible  for the arched background  */
/* this class is on a span div  */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/background */
.switch-bg {
  background: radial-gradient(
    7.75em 7.75em at 50% 4.0625em,
    hsla(var(--hue), 90%, 90%, 0) 29.9%,
    hsl(var(--hue), 90%, 90%) 30.1% 31.9%,
    hsl(0, 0%, 100%) 32.1% 35.2%,
    hsl(var(--hue), 50%, 80%) 35.4% 36%,
    hsl(var(--hue), 90%, 70%) 36.2% 41.8%,
    hsl(var(--hue), 90%, 65%) 42% 43.6%,
    hsl(var(--hue), 50%, 80%) 43.8% 44.4%,
    hsl(0, 0%, 100%) 44.6% 46.6%,
    hsl(var(--hue), 90%, 90%) 46.8% 49.3%,
    hsl(var(--hue), 90%, 98%) 49.5% 49.8%,
    hsla(var(--hue), 90%, 98%, 0) 49.9%
  );

  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  display: block;
  position: absolute;
  inset: 0;
  z-index: 1;
}
/* make the psudo element :before show up on top ot the input  */
