* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: aquamarine;
}
/* hide the default , it is hidden but user can still interact with it  */
input[type="checkbox"] {
  /* will be creating a custom check box that is going to sit on top of this one, we do not want to see the default one but we do want to interact with it so we get the check box benefits and screen readers will see it  */
  opacity: 0;
  position: absolute;
}
label {
  /* position relative so that the we can put the little circle in the toggle */
  position: relative;
  cursor: pointer;
  /* overwrite the default of in line */
  display: flex;
}
/* the DYI check box   */
/* add this content before the check box label using a psudo element */
/* psudo elements inherit the display of the parent so label needs to be flex  */
label::before {
  content: "";
  height: 4em;
  width: 16em;
  background-color: red;
  border-radius: 2em;
}
label:hover::before {
  background-color: blue;
}
input[type="checkbox"]:checked + label::before {
  background-color: rgb(24, 225, 67);
}
label::after {
  /* positioning this absolute so that the toggle ball is in the div */
  position: absolute;
  left: 0.25em;
  margin-top: 0.25em;
  content: "";
  height: 3.5em;
  width: 3.5em;
  background-color: green;
  border-radius: 2em;
}
/* targeting the little ball in the toggle switch when checkied  */
input[type="checkbox"]:checked + label::after {
  /* positioning this absolute so that the toggle ball is in the div */
  position: absolute;
  left: 0.25em;
  margin-top: 0.25em;
  content: "";
  height: 3.5em;
  width: 3.5em;
  background-color: rgb(122, 0, 128);
  border-radius: 2em;
}
