:root {
  --circles: #9fd1ff;
  --background: #68a4f3;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.scene {
  background: var(--background);
  height: 100vh;
}
.animation {
  height: 100%;
  width: 100%;
}
